* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

.contenedor {
  max-width: 80%;
  margin: 0 auto;
  /* max-width: 1320px aclarar una medida para evitar que ocupe el 80% cuando la pantalla sea grande, sino queda estirado*/
}
.contenedor--60 {
  max-width: 80%;
  margin: 0 auto;
}

.fila {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 3rem 0;
}

.columna {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 30px;
  margin: 20px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h1, h5, h3, h2 {
  font-family: veselinaregular;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  animation-name: titulos;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

h3 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.boton, .contacto__boton, .blog__boton, .main__blog--boton {
  font-family: veselinaregular;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 500ms;
  overflow: hidden;
}

@keyframes titulos {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.nav {
  background-color: #F9AE00;
}
.nav__anc {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
}
.nav__anc:hover {
  transform: scale(1.5, 1.5);
  font-weight: 800;
  transition: 500ms ease;
}

.nav__hamburger {
  border: white solid 3px;
  font-size: 15px;
}

.nav--mobile__items {
  text-align: center;
}

.nav__item--active {
  border-radius: 10px;
  background-color: #0077bd;
}

.nav__logo {
  max-width: 240px;
}

.main__section1:before {
  transform: translateX(-30px);
  transition: all 1s;
}

.main__tarjeta {
  color: white;
  background-image: linear-gradient(#F9AE00, #0077bd);
  border: 2px solid #0077bd;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 #F9AE00;
  max-width: 450px;
  transition: all 500ms;
}
.main__tarjeta:hover {
  transform: translate(0, 10px) scale(1.2, 1.2);
}

.container__iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 70%;
  margin: 5rem auto;
  display: none;
}

.main__iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: #0077bd 5px solid;
  border-radius: 10px;
}

.main__blog {
  background-color: #0077bd;
  background-image: url(../imgs/rp_color_negro_iso.png);
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
}
.main__blog--boton {
  background-color: black;
  color: #F9AE00;
  margin-top: 10px;
}
.main__blog--boton:hover {
  background-color: #F9AE00;
  border: 2px black solid;
  color: black;
}

.main__acordeon, .main__acordeon--closed {
  color: white;
  font-family: "poppins", sans-serif;
}
.main__acordeon--closed {
  background-color: #0077bd;
}
.main__acordeon--open {
  background-color: #F9AE00;
}

footer {
  background-color: #70b62c;
  border-top: double 5px #F9AE00;
  min-height: auto;
  padding-top: 0.5rem;
}

.footer__base {
  background-color: #0077bd;
  padding: 0.5rem;
}
.footer__base--text {
  font-size: 0.75rem;
  color: white;
  text-align: center;
  line-height: 2rem;
}

.footer__logo {
  max-width: 100px;
}

.footer__secciones, .footer__secciones--a, .footer__secciones2 {
  list-style-type: none;
  line-height: 1.8rem;
  font-size: 0.85rem;
  color: white;
  text-decoration: none;
}
.footer__secciones2 {
  padding-left: 2px;
}
.footer__secciones--a {
  letter-spacing: 1.5px;
  margin-left: -20px;
}

/*Blog*/
.blog__card {
  background-image: linear-gradient(#F9AE00, #0077bd);
  color: white;
  box-shadow: 5px 5px 10px 0 #F9AE00;
  overflow: hidden;
}
.blog__card:hover {
  transition: transform 500ms ease;
  transform: scale(1.05);
}

.blog__boton {
  background-color: #0077bd;
  color: white;
  border: #F9AE00 3px solid;
  transition: transform 500ms ease;
}
.blog__boton:hover {
  background-color: #F9AE00;
  color: #0077bd;
  transform: translate(0, 10px) scale(1.2, 1.2);
}

/*Nosotros*/
.nosotros__img {
  max-width: 300px;
  border-radius: 50%;
  max-height: 150px;
  transition: 500ms ease;
}
.nosotros__img:hover {
  transform: translate(0, -20px);
  opacity: 0.7;
}

/*Contacto*/
.contacto {
  border: 2px #0077bd solid;
  border-radius: 10px;
  background-image: url(../imgs/rp_color_blanco_vertical.png);
  background-blend-mode: opacity(0.2);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /*&--layer	{
  	background-color: $color-principal;
  	opacity: 0.2;
  }*/
}
.contacto__input {
  border: 2px #0077bd solid;
  color: #0077bd;
  box-shadow: 5px 5px 10px 0 #F9AE00;
}
.contacto__input:hover {
  background-color: #0077bd;
  color: white;
}
.contacto__boton {
  background-color: #0077bd;
  color: white;
}
.contacto__boton:hover {
  border: 2px #0077bd solid;
  color: #0077bd;
}

/*Mercado*/
.mercado__pizarra {
  animation-name: prueba;
  animation-duration: 2s;
  animation-iteration-count: inherit;
}
.mercado__pizarra:hover {
  transition: all 1s ease;
  transform: translateX(50px);
}

@keyframes prueba {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  50% {
    opacity: 0.5;
    /*filter: brightness(1),blur(20px);*/
  }
  100% {
    opacity: 1;
  }
}
/*Blog*/
.blog__card {
  background-image: linear-gradient(#F9AE00, #0077bd);
  color: white;
  box-shadow: 5px 5px 10px 0 #F9AE00;
  overflow: hidden;
}
.blog__card:hover {
  transition: transform 500ms ease;
  transform: scale(1.05);
}

.blog__boton {
  background-color: #0077bd;
  color: white;
  border: #F9AE00 3px solid;
  transition: transform 500ms ease;
}
.blog__boton:hover {
  background-color: #F9AE00;
  color: #0077bd;
  transform: translate(0, 10px) scale(1.2, 1.2);
}

/*Nosotros*/
.nosotros__img {
  max-width: 300px;
  border-radius: 50%;
  max-height: 150px;
  transition: 500ms ease;
}
.nosotros__img:hover {
  transform: translate(0, -20px);
  opacity: 0.7;
}

/*Contacto*/
.contacto {
  border: 2px #0077bd solid;
  border-radius: 10px;
  background-image: url(../imgs/rp_color_blanco_vertical.png);
  background-blend-mode: opacity(0.2);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /*&--layer	{
  	background-color: $color-principal;
  	opacity: 0.2;
  }*/
}
.contacto__input {
  border: 2px #0077bd solid;
  color: #0077bd;
  box-shadow: 5px 5px 10px 0 #F9AE00;
}
.contacto__input:hover {
  background-color: #0077bd;
  color: white;
}
.contacto__boton {
  background-color: #0077bd;
  color: white;
}
.contacto__boton:hover {
  border: 2px #0077bd solid;
  color: #0077bd;
}

/*Mercado*/
.mercado__pizarra {
  animation-name: prueba;
  animation-duration: 2s;
  animation-iteration-count: inherit;
}
.mercado__pizarra:hover {
  transition: all 1s ease;
  transform: translateX(50px);
}

@keyframes prueba {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  50% {
    opacity: 0.5;
    /*filter: brightness(1),blur(20px);*/
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 600px) and (max-width: 976px) {
  .nav__hamburger {
    border: white solid 4px;
    font-size: 25px;
  }
  .container__iframe {
    display: block;
  }
  .main__tarjeta {
    max-width: 450px;
  }
  .footer__secciones--a {
    font-size: 1rem;
  }
  .footer__base--text {
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 977px) {
  .contenedor--60 {
    max-width: 60%;
    margin: 0 auto;
  }
  .nav__logo {
    max-width: 350px;
  }
  .container__iframe {
    display: block;
  }
  .main__tarjeta {
    max-width: 320px;
  }
  .footer__base--text {
    font-size: 1rem;
    color: white;
  }
  .footer__secciones--a {
    font-size: 1.2rem;
    /* padding-left: 150px;*/
  }
  /*.footer__contacto {
    padding-left: 70px;
  }*/
  .footer__secciones2 {
    font-size: 1rem;
    line-height: 2.5rem;
  }
  .nav {
    background-color: #70b62c;
  }
  .nav__anc {
    margin-right: px;
    font-size: 1.5rem !important;
    color: #70b62c;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
  }
  .nav__anc:hover {
    background-color: #0077bd;
    color: white;
    font-weight: 600;
    transform: scale(1.1, 1) translateY(10px);
  }
  .carousel__main {
    height: 90vh;
  }
}
@media only screen and (min-width: 1250px) {
  .carousel__main {
    height: 120vh;
  }
  /*.footer__contacto {
    padding-left: 90px;
  }*/
  /*.footer__secciones--a {
    padding-left: 130px;
  }*/
}
@font-face {
  font-family: "veselinaregular";
  src: css/fonts("veselina-webfont.woff2") format("woff2"), css/fonts("veselina-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
