* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

.contenedor {
  max-width: 80%;
  margin: 0 auto;
  /* max-width: 1320px aclarar una medida para evitar que ocupe el 80% cuando la pantalla sea grande, sino queda estirado*/
}
.contenedor--60 {
  max-width: 80%;
  margin: 0 auto;
}

.fila {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 3rem 0;
}

.columna {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 30px;
  margin: 20px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h1, h5, h3, h2 {
  font-family: veselinaregular;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  animation-name: titulos;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  margin-bottom: 0.5rem;
}

p {
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify;
}

.boton, .contacto__boton, .blog__boton, .main__blog--boton {
  font-family: veselinaregular;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 500ms;
  overflow: hidden;
}

.onda {
  animation-name: imgs;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: 0s;
}

@keyframes imgs {
  0% {
    transform: translateX(-80px);
  }
  50% {
    transform: translate(-40px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes titulos {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.nav {
  background-image: linear-gradient(45deg, #F9AE00, #70b62c);
  border-bottom: #F9AE00 5px ridge;
}
.nav__anc {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 500ms ease;
}
.nav__anc:hover {
  transform: scale(1.5, 1.5);
}

.nav__hamburger {
  border: white solid 3px;
  font-size: 15px;
}

.nav--mobile__items {
  text-align: center;
}

.nav__item--active {
  border-radius: 10px;
  border: black 2px solid;
}

.nav__logo {
  max-width: 220px;
}

.main__carousel {
  position: relative;
}

.main__carousel--text1 {
  position: absolute;
  width: 100%;
  top: 50%;
  color: white;
}

.main__nosotros--mVV {
  color: white;
  background-image: linear-gradient(#F9AE00, #0077bd);
  border: 2px solid #0077bd;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0;
  max-width: 350px;
  transition: all 500ms;
}
.main__nosotros--mVV:hover {
  transform: translate(0, -30px);
}

.main__nosotros--highlighted {
  color: white;
  background-color: #F9AE00;
  min-height: 300px;
}

.bi-check-circle {
  font-size: 30px;
}

.container__iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 70%;
  margin: 5rem auto;
  display: none;
}

.main__iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: #0077bd 5px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0;
}

.main__blog--boton {
  background-color: black;
  color: #F9AE00;
  margin-top: 10px;
}
.main__blog--boton:hover {
  background-color: #F9AE00;
  border: 2px black solid;
  color: black;
}

.accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 10px;
  padding: 30px 40px;
}

.main__acordeon, .main__acordeon--closed {
  color: white;
  font-family: "poppins", sans-serif;
}
.main__acordeon--closed {
  background-color: #0077bd;
}
.main__acordeon--open {
  background-color: #F9AE00;
  border-radius: 10px;
}

footer {
  background-image: linear-gradient(45deg, #F9AE00, #70b62c);
  border-top: ridge 5px #F9AE00;
  min-height: auto;
  padding-top: 0.5rem;
}

.footer__base {
  background-color: #0077bd;
  padding: 0.5rem 0;
}
.footer__base--text {
  font-size: 0.75rem;
  color: white;
  text-align: center;
  padding-top: 5px;
}

.footer__logo {
  max-width: 120px;
}

.footer__secciones, .footer__secciones--a, .footer__secciones2 {
  list-style-type: none;
  font-size: 0.85rem;
  padding: 2px 5px;
  color: white;
  text-decoration: none;
}
.footer__secciones2 {
  padding-left: 2px;
}
/*Portal de noticias*/
.blog__card {
  background-image: linear-gradient(#F9AE00, #0077bd);
  color: white;
  box-shadow: 5px 5px 10px 0;
  overflow: hidden;
  border: #70b62c 5px solid;
  border-radius: 15px;
  transition: transform 500ms ease;
}
.blog__card:hover {
  transform: scale(1.05);
}

.blog__boton {
  background-color: #0077bd;
  color: white;
  border: #F9AE00 3px solid;
  transition: transform 500ms ease;
}
.blog__boton:hover {
  background-color: #F9AE00;
  color: #0077bd;
  transform: translate(0, 10px) scale(1.2, 1.2);
}

.blog--layer {
  width: 100%;
  background-image: url(../imgs/campo_arado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog--layer2 {
  width: 100%;
  background-image: linear-gradient(45deg, rgba(249, 174, 0, 0.6), white);
}

/*Contacto*/
.contacto {
  border: 5px #0077bd solid;
  border-radius: 10px;
}
.contacto__input {
  border: 2px #0077bd solid;
  color: #0077bd;
  box-shadow: 5px 5px 10px 0;
}
.contacto__input:hover {
  background-color: #F9AE00;
  color: white;
}
.contacto__boton {
  background-color: #0077bd;
  color: white;
  font-size: 1.5rem;
}
.contacto__boton:hover {
  border: 2px #0077bd solid;
  background-color: #F9AE00;
  color: #0077bd;
}

.contacto--layer {
  width: 100%;
  background-image: url(../imgs/campo_trigo_avion_sol.jpg);
}

.contacto--layer2 {
  width: 100%;
  background-image: linear-gradient(180deg, rgba(249, 174, 0, 0.1), white);
}

/*Portal de noticias*/
.blog__card {
  background-image: linear-gradient(#F9AE00, #0077bd);
  color: white;
  box-shadow: 5px 5px 10px 0;
  overflow: hidden;
  border: #70b62c 5px solid;
  border-radius: 15px;
  transition: transform 500ms ease;
}
.blog__card:hover {
  transform: scale(1.05);
}

.blog__boton {
  background-color: #0077bd;
  color: white;
  border: #F9AE00 3px solid;
  transition: transform 500ms ease;
}
.blog__boton:hover {
  background-color: #F9AE00;
  color: #0077bd;
  transform: translate(0, 10px) scale(1.2, 1.2);
}

.blog--layer {
  width: 100%;
  background-image: url(../imgs/campo_arado.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog--layer2 {
  width: 100%;
  background-image: linear-gradient(45deg, rgba(249, 174, 0, 0.6), white);
}

/*Contacto*/
.contacto {
  border: 5px #0077bd solid;
  border-radius: 10px;
}
.contacto__input {
  border: 2px #0077bd solid;
  color: #0077bd;
  box-shadow: 5px 5px 10px 0;
}
.contacto__input:hover {
  background-color: #F9AE00;
  color: white;
}
.contacto__boton {
  background-color: #0077bd;
  color: white;
  font-size: 1.5rem;
}
.contacto__boton:hover {
  border: 2px #0077bd solid;
  background-color: #F9AE00;
  color: #0077bd;
}

.contacto--layer {
  width: 100%;
  background-image: url(../imgs/campo_trigo_avion_sol.jpg);
}

.contacto--layer2 {
  width: 100%;
  background-image: linear-gradient(180deg, rgba(249, 174, 0, 0.1), white);
}

@media only screen and (min-width: 600px) {
  .nav__hamburger {
    border: white solid 4px;
    font-size: 25px;
  }
  .nav__logo {
    max-width: 280px;
  }
  h2 h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .main__carousel--text1 {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px 0;
  }
  .container__iframe {
    display: block;
  }
  .main__tarjeta {
    max-width: 450px;
  }
  .footer__secciones--a {
    font-size: 1rem;
  }
  .footer__base--text {
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 977px) {
  .contenedor--60 {
    max-width: 60%;
    margin: 0 auto;
  }
  .nav__logo {
    max-width: 350px;
  }
  .nav__anc {
    margin: 0 15px;
  }
  .nav__item--active {
    color: white;
    font-weight: bold;
    border: 0px;
  }
  h1, h2, h3, h5 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  .main__carousel--text1 {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 10px 0;
  }
  .main__nosotros--highlighted {
    max-height: 180px;
    margin-bottom: 280px;
  }
  .bi-check-circle {
    font-size: 50px;
  }
  .container__iframe {
    display: block;
  }
  .main__tarjeta {
    max-width: 320px;
  }
  .footer__logo {
    max-width: 150px;
  }
  .footer__base--text {
    font-size: 1rem;
    color: white;
  }
  .footer__secciones--a {
    font-size: 1.2rem;
  }
  .footer__secciones2 {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .nav {
    background-color: #70b62c;
  }
  .nav__anc {
    margin-right: px;
    font-size: 1.5rem !important;
    color: #70b62c;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
  }
  .nav__anc:hover {
    background-color: #0077bd;
    color: white;
    font-weight: 600;
    transform: scale(1.1, 1) translateY(10px);
  }
  .carousel__main {
    height: 90vh;
  }
}
@media only screen and (min-width: 1250px) {
  .carousel__main {
    height: 100vh;
  }
}
@font-face {
  font-family: "veselinaregular";
  src: css/fonts("veselina-webfont.woff2") format("woff2"), css/fonts("veselina-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
