footer {    background-color: $color-terciario;
		    border-top: double 5px $color-principal; 
			min-height: auto; 
	}

/*Iconos Footer*/
.bi {
                    text-decoration: none;
                    color: black;
                    font-size: 5rem !important;

    &:hover {
                color:white;
            }
}

.fa-brands  {
                text-decoration: none;
                color: black;
                font-size: 2.5rem;

    &:hover {
                font-size: 3rem;
            }
}

.footer__base   {
                    background-color: $color-secundario;
                    padding: .5rem;
                
    &--text {
                font-size: .85rem;
                color:white;
                text-align: center;
                line-height: 2rem;
    }
}

.footer__logo   {
                    max-width: 150px;
                }

.footer__secciones  {
                        list-style-type: none;
                        line-height: 1rem;
                        list-style-position: outside;

    &--a    {
                text-decoration: none;
                font-size: .85rem;
                color: white;
            }
}


