*  {   
      margin: 0;
      padding: 0;
      box-sizing: border-box;
     }

body    {
            font-family: 'Poppins', sans-serif;
            max-width: 100%;
        }

.contenedor  {   
                max-width: 80%;
                margin: 0 auto;
                /* max-width: 1320px aclarar una medida para evitar que ocupe el 80% cuando la pantalla sea grande, sino queda estirado*/
    &--60   {
                max-width: 80%;
                margin: 0 auto;
    }        
                
}

.fila    {   
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            margin: 3rem 0;
         }

.columna	{
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 20px 30px;
                margin: 20px;
            }	

img   {
         width: 100%;
         height: auto;
         border-radius: 10px;
      }


h1  {  
        font-family: $font-main;
        text-align: center;
        margin-bottom: 1rem;
    }

h2  {
        @extend h1;
        font-size: 2.5rem;
        animation-name: titulos;
        animation-duration: 2s;
        animation-iteration-count: infinite;
}

h3  {
        @extend h1;
        font-size: 2rem;
}

h5  {
        @extend h1;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

        
p   {   
        font-style: italic;
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: justify;
    }

.boton  {      
            font-weight: 500;
            font-size: 1.2rem;
            padding: 5px 15px;
            text-decoration: none;
            border-radius: 10px;
        }

@keyframes titulos  {
                0%      {   opacity: 0;}
                50%     {   opacity: .5}
                100%    {   opacity: 1;}        
                    }