.nav {
  background-color: $color-principal;

  &__anc {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;

    &:hover {
      transform: scale(1.5, 1.5);
      font-weight: 800;
      transition: 500ms ease;
    }
  }
}

.nav__hamburger {
  border: white solid 3px;
  font-size: 15px;
}

.nav--mobile__items {
  text-align: center;
}

.nav__item--active {
  border-radius: 10px;
  background-color: $color-secundario;
}

.nav__logo {
  max-width: 240px;
}
