/*.seccionPrincipalDiv1   {width: 400px;
					height: 200px;
					margin: 0;
				   }


.img_home   {   max-width: 100%;
			}

.section_comofunciona   {
					padding: 15px 0 15px 0;
																}

.ordenDePasos   {display:flex;
			 justify-content: space-between;
			 flex-wrap: wrap;
			}

.pasoComoFunciona  {    display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 250px;
			}

.textoComoFunciona{     font-size: 1rem;
					text-align: justify;
		}*/


@media only screen and (min-width: 600px) and (max-width: 976px)	{

	.nav	{
				background-color: $color-secundario;
							
		&__anc   {  
						color:white;
						font-size: 1.2rem;
					}
			}
	
	.nav__hamburger	{
								border: white solid 6px;
								font-size: 25px !important;
							}
}

@media only screen and (min-width: 976px)	{			
			
	.nav	{
				background-color: $color-principal;
	
		&__anc	{
						margin-right: 5px;
						font-size: 1.5rem;
						-webkit-text-stroke-color: white;
						-webkit-text-stroke-width: 1px;
		
			&:hover	{
							background-color: $color-secundario;
							color: white;
				
						}
					}
			}
}

.main__carousel	{
							height: 100vh;
						}