.main__tarjeta	{
						color: white;	
						background-color: $color-secundario;
						border: 2px solid $color-secundario;
						border-radius: 10px;
						box-shadow: 5px 5px 3px $color-principal;
						min-width: 150px;
					}

@media only screen and (min-width: 600px) and (max-width: 976px)	{

	h1	{
			font-size: 3rem;
	}
	
	.fila    {   
					flex-wrap: nowrap;
	}

	.nav	{
				background-color: $color-secundario;
							
		&__anc   {  
						color:white;
						font-size: 1.2rem;
					}
			}
	
	.nav__hamburger	{
								border: white solid 6px;
								font-size: 25px !important;
							}

							
}

@media only screen and (min-width: 976px)	{			
			
	.fila    {   
					flex-wrap: nowrap;
	}
	.nav	{
				background-color: $color-terciario;
	
		&__anc	{
						margin-right: 5px;
						font-size: 1.5rem;
						-webkit-text-stroke-color: white;
						-webkit-text-stroke-width: 1px;
		
			&:hover	{
							background-color: $color-secundario;
							color: white;
				
						}
					}
			}
	
	.carousel__main	{
								height: 100vh;
							}

}
