.main__tarjeta	{
					color: white;	
					background-image: $gradiante;
					border: 2px solid $color-secundario;
					border-radius: 10px;
					box-shadow: $shadow;
					max-width: 450px;
				}

.container__iframe	{
						position: relative;
						overflow: hidden;
						width: 100%;
						padding-top: 56.25%;
						margin-top: 2rem;
						margin-bottom: 2rem;
						max-width: 70%;
						margin: 5rem auto;
						display: none;
}

.main__iframe	{
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
					border: $color-secundario 5px solid;
					border-radius: 10px;
}

.main__blog	{
				background-color: $color-secundario;
	
	&--boton	{
					@extend .boton;
					background-color: black;
					color: $color-principal;
					margin-top: 10px;
		
		&:hover	{
					background-color: $color-principal;
					border: 2px black solid;
					color: black;
				}
				}
}

.main__acordeon	{
					color:white;
					font-family: 'poppins', sans-serif;
							
	&--closed	{
					@extend .main__acordeon;
					background-color: $color-secundario;
				}						

	&--open	{	
				background-color: $color-principal;
			}
}