/*Blog*/
.blog__card	{
				background-color: $color-secundario;
				color: white;
				box-shadow: $shadow;
				overflow: hidden;
	
	&:hover	{
				transition: transform 500ms ease;
				transform: scale(1.05);
	}
			}

.blog__boton	{
					@extend .boton;
					background-color: $color-principal;
					color: white;

	&:hover	{
				background-color: $color-terciario;
				transition: transform 500ms ease;
				transform: translate(0,10px) scale(1.2,1.2);
			}
}

/*Nosotros*/
.nosotros__img	{
					max-width: 300px;
					border-radius: 50%;
					max-height: 150px;
					transition: 500ms ease;

	&:hover		{
					transform:translate(0,-20px);
					opacity: .7;
				}				
}

/*Contacto*/
.contacto	{
				border: 2px $color-secundario solid;
				border-radius: 10px;
	
	&__input	{
					background-image: $gradiante;
					color: white;
				}

	&__boton	{
					@extend .boton;
					background-color: $color-secundario;
					color:white;
				
		&:hover	{
					border: 2px $color-secundario solid;
					color: $color-secundario;
		}		
				}
}

/*Mercado*/
.mercado__pizarra	{
						animation-name: prueba;
						animation-duration: 5s;
						animation-iteration-count: infinite;
}

@keyframes	prueba	{
			
				0%		{	opacity: 0;
							filter: blur(20px);
						}

				50% 	{	opacity: .5;
							/*filter: brightness(1),blur(20px);*/
						}

				100%	{	opacity: 1;
				
						}
}
