/*Portal de noticias*/
.blog__card {
  background-image: $gradiante;
  color: white;
  box-shadow: $shadow;
  overflow: hidden;
  border: $color-terciario 5px solid;
  border-radius: 15px;
  transition: transform 500ms ease;
  
  &:hover {
    transform: scale(1.05);
  }
}

.blog__boton {
  @extend .boton;
  background-color: $color-secundario;
  color: white;
	border: $color-principal 3px solid;
	transition: transform 500ms ease;

  &:hover {
    background-color: $color-principal;
    color: $color-secundario;
    transform: translate(0, 10px) scale(1.2, 1.2);
  }
}

.blog--layer  {
  width: 100%;
  background-image: url(../imgs/campo_arado.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  &2  {
    width: 100%;
    background-image: linear-gradient(45deg, rgba(249, 174, 0, 0.6), white);
  }
}

/*Contacto*/
.contacto {
  border: 5px $color-secundario solid;
  border-radius: 10px;
	
	&__input {
    border: 2px $color-secundario solid;
    color: $color-secundario;
		box-shadow: $shadow;
  
		&:hover	{
			background-color: $color-principal;
			color: white;
		}
	}
	
  &__boton {
    @extend .boton;
    background-color: $color-secundario;
    color: white;
    font-size: 1.5rem;

    &:hover {
      border: 2px $color-secundario solid;
      background-color: $color-principal;
      color: $color-secundario;
    }
  }
}

.contacto--layer  {
  width: 100%;
  background-image: url(../imgs/campo_trigo_avion_sol.jpg);
}

.contacto--layer2 {
    width: 100%;
    background-image: linear-gradient(180deg, rgba(249, 174, 0, 0.1), white);
  }
