$color-principal: #F9AE00;
$color-secundario: #0077bd;
$color-terciario: #70b62c;
$shadow: 5px 5px 10px 0;
$font-main: veselinaregular;
$gradiante: linear-gradient($color-principal,$color-secundario)
