@import "variables";
@import "global";
@import "header";
@import "home";
@import "footer";
@import "pages";
@import "pages";
@import "media_queries";
@font-face   {
   font-family: 'veselinaregular';
   src:  css/fonts('veselina-webfont.woff2') format('woff2'),
         css/fonts('veselina-webfont.woff') format('woff');
         font-weight: normal;
         font-style: normal;
}
